@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;/** define "color-primary" como variável, logo a mesma pode ser utilizada em outros arquivos .css, oque facilita, pois quando for mudar a cor do tema do site, basta alterar nessa variavel*/
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #e8e8e8;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}